/* Preto profundo #0D0D0D → fundo principal

Cinza grafite #1F1F1F → cards, menus, áreas secundárias

Vermelho destaque #E50914 → botões, CTAs

Branco suave #F5F5F5 → textos principais

Cinza claro #B3B3B3 → textos secundários

Amarelo dourado #F2C94C → avaliações, estrelas, destaques especiais */
body {
    background-color: #0D0D0D;
    color: #F5F5F5;
}

table {
    width: 100%;
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 20px;
}

tr {
    background-size: 100px 20px;
    background-color: #1F1F1F;
    border-bottom: 4px solid #B3B3B3;
    text-align: center;
}

th {
    background-size: 100px 20px;
    background-color: #E50914;
    color: #F5F5F5;
    text-align: center;
}

td {
    background-size: 100px 20px;
    padding: 10px;
    color: #B3B3B3;
    text-align: center;
}

nav {
    background-color: #1F1F1F;
    padding: 10px;
    margin-top: 20px;
}

article {
    background-color: #1F1F1F;
    padding: 20px;
    margin-top: 20px;
}

p {
    padding: 10px 0;
    color: #B3B3B3;
}

ul {
    background-color: #0D0D0D;
    bottom: -20px;
    text-align: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    padding: 20px;
}
il {
    background-color: #0D0D0D;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    padding: 20px;
}
a {
    color: #E50914;
    text-decoration: none;
    font-weight: bold;
}
editable {
    background-color: #1F1F1F;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}